body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

header {
  padding: 5px;
  margin: 10px;
  background-color: rgb(168, 114, 12);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
  flex-direction: row;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  border-radius: 35px;
}

header h1 {
  margin: 5px;
  font-weight: bold;
  font-size: 36px;
  width: 100%;
  text-align: center;
}

.btn {
  margin: 5px;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(29, 29, 102);
  color: white;
}

.card {
  border-radius: 10px;
}

.card-body {
    padding: .5rem;
    margin: .5rem;
}

.card-header {
  border-radius: 10px;
  background-color: rgb(168, 114, 12);
  text-align: center;
  color: #ffffff;
}

.form-input {
  margin: 5px;
  width: 100%;
}
